<strong><a class="show-post" href="javascript:void(0)">
  <%= post.escape('title') %>
</a></strong><br>
<a class="edit-post" href="javascript:void(0)">Edit</a>
<button class="delete-post">Delete</button><br><br>
